<!doctype html>
<html>
	<head>
		<title>Workflowy Roll-Up Calculator</title>
		<style type="text/css">
			.children {
				margin-left: 20px;
			}
		</style>
	</head>
	<body>
		<h1>Workflowy Roll-Up Calculator</h1>

		<p><a href="#" id="toggleButton">Toggle Roll-Up</a></p>
		<p>Bookmarklet (drag to bookmarks bar): 
		<a id="bookmarklet" href="{{ bookmarklet }}">Workflowy Roll-Up</a></p>
		<div class="project">
			<div class="name">
				<div class="content">Name of the node [10]</div>
			</div>
			<div class="children">
				<div class="project">
					<div class="name">
						<div class="content">Name of the first child node</div>
					</div>
				</div>
				<div class="project">
					<div class="name">
						<div class="content">Name of the first child node [3]</div>
					</div>
				</div>
				<div class="project">
					<div class="name">
						<div class="content">Name of the first child node [6]</div>
					</div>
					<div class="children">
						<div class="project">
							<div class="name">
								<div class="content">Name of the first child node [1]</div>
							</div>
						</div>
						<div class="project">
							<div class="name">
								<div class="content">Name of the first child node [10]</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="project">
			<div class="name">
				<div class="content">Name of the node [8]</div>
			</div>
			<div class="children">
				<div class="project">
					<div class="name">
						<div class="content">Name of the first child node [10]</div>
					</div>
				</div>
				<div class="project">
					<div class="name">
						<div class="content">Name of the first child node [10]</div>
					</div>
				</div>
				<div class="project">
					<div class="name">
						<div class="content">Name of the first child node [10]</div>
					</div>
					<div class="children">
						<div class="project">
							<div class="name">
								<div class="content">Name of the first child node [10]</div>
							</div>
						</div>
						<div class="project">
							<div class="name">
								<div class="content">Name of the first child node [10]</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="workflowy-rollup.js"></script>
	</body>
</html>
